In [1]:
import pandas as pd
import numpy as np

In [9]:
movies_df = pd.read_csv('./ml-latest-small/movies.csv', usecols=['movieId','title'],dtype={'movieID':'int32','title':'str'})
rating_df = pd.read_csv('./ml-latest-small/ratings.csv',usecols=['userId','movieId','rating'],dtype={'userID':'int32','movieId':'int32','rating':'float32'})

In [10]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [11]:
rating_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [15]:
df = pd.merge(rating_df,movies_df,on='movieId')
df.shape

(100836, 4)

In [17]:
df1 = df.dropna(axis = 0,subset = ['title'])
movie_rtcount = (df1.groupby(by = ['title'])['rating'].count().
                 reset_index().rename(columns = {'rating':'totrtcount'})
                [['title','totrtcount']])
movie_rtcount.head()

                                     title  totrtcount
0                               '71 (2014)           1
1  'Hellboy': The Seeds of Creation (2004)           1
2                   'Round Midnight (1986)           2
3                      'Salem's Lot (2004)           1
4                'Til There Was You (1997)           2